<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>

    <body>
        
        <form action="/create-project" method="POST">
            <input type="text" name="name" placeholder="Input project name">
            <input type="text" name="description" placeholder="Description">
            <input type="text" name="author" placeholder="Author">
            <Button type="submit" formaction="create-project">Submit</Button>
        </form>
        
    </body>
</html>